{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width,initial-scale=1">
        <title>Signup form</title>
        <style>
            .box{
                padding-top: 10%;
            }
        </style>
    </head>
    <body style="background-color: white;">
        <div class="box">
            <h1>Signup</h1>
            <form method="POST">
                {% csrf_token %}
                {{form.as_p}}
                <button type="submit">Signup</button>
                <a href="{% url 'loginurl' %}">Already have account?</a>
            </form> 
        </div>
    </body>
</html>
